:root {
    --hsl-base: black;
    --hsl-random: hsl(0, 0%, 0%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 1rem;
}

h1, h2, p {
    text-align: center;
}

.project-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project-box {
    width: min(100% - 3rem, 65ch);
    margin-inline: auto;
    margin-bottom: 6rem;
    text-align: center;
}

.project-box-grid {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-auto-rows: min-content;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 6rem;
}

.project-box-flex {
    display: flex;
}

.container-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}


/*Color Randomizer*/
.container-color-randomizer {
    min-height: 10rem;
    min-width: 10rem;    
    /* background-color: rgba(128, 128, 128, 0.137); */
}

.box-color-rgb, .box-color-hsl {
    min-height: 100%;
    min-width: 100%;    
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.box-color-rgb {
    background-color: black;
}

.box-color-hsl {
    background-color: var(--hsl-random);
}

.text-randomizer {
    color: white;
    text-shadow: rgb(12, 1, 22) 0 0 15px;
}

.btn-activate {
    outline: transparent;
    border: transparent;
    background-color: rgb(197, 197, 197);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.2rem;
    width: max-content;
    cursor: pointer;
}

.btn-activate:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(162, 95%, 40%);
}

.btn-activate:active {
    transform: translateY(2px);
}

.btn-margin {
    margin-top: 0.5rem;
}

/*Simple counter*/
.counter-box {
    max-width: 60%;
    padding: 2rem 0 2rem 0;
    background-color: rgb(145, 145, 145);
    margin-inline: auto;
}

.counter-box > p {    
    font-size: 2rem;
}

.button-box {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 2rem;
}

[data-number-color="zero"] {
    color: white;
}

[data-number-color="positive"] {
    color: rgb(8, 255, 8);
}

[data-number-color="negative"] {
    color: rgb(255, 0, 0);
}


/* Slider */

.slider-box {
    width: min(100% - 3rem, 65ch);
    margin-inline: auto; 
    text-align: center;
    margin-bottom: 6rem;
}

.slider-card {
    background-color: rgb(234, 239, 243);
    box-shadow: 0 0 0.75rem hsl(241, 29%, 55%);
    width: 80%;
    height: 30rem;
    margin-inline: auto;
    border-radius: 1rem;
}

.slider-image {
    margin-top: 2.5rem;
    max-width: 50%;
}

.slider-title {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.slider-text {
    margin-top: 1rem;
    font-size: 1rem;
    max-width: 35ch;
    margin-inline: auto;
}

.slider-buttons {
    margin-top: 1.5rem;    
}

.btn-arrow {
    height: 2rem;
}

/*Modal*/
.btn-modal {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}

.btn-close-1, .btn-close-2 {
    position: absolute;
    top: 5%;
    right: 3%;
}

.modal-background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(240, 100%, 6%, 0.849);
    inset: 0;
    z-index: 5;
}

.modal-message {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 65%;
    min-height: 15rem;
    height: 30%;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    font-size: 1.1rem;
}

[data-modal-active = "off"]{
    display: none;
}

[data-modal-active = "on"]{
    display: flex;
}

.modal-box {
    position: relative;    
}

:modal {    
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    outline: transparent;
    border: transparent;
}

:modal[open]{
    margin: auto;
}

:modal::backdrop {
    background-color: rgba(137, 43, 226, 0.61);
}

.wrapper-text {
    min-height: 10rem;
    height: 20%;
    max-width: 15rem;
    /* display: flex;
    align-items: center; */
    margin: 2rem;
    display: grid;
    place-items: center;
}

.wrapper {
    position: absolute;
    inset: 0;
}